/*
CSS RESET
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*          SITE STYLE          */
p{
    font-family: 'Montserrat', sans-serif;
}
header{
    width: 100%;
    text-align: center;
    background-image: url(Obraz2.png);
    height: auto;
    padding-top: 20%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}
#title_gold{
    height: 230px;
    color:#c3a343;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
    url(foil-nav.jpg) repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
}
header h1{
    font-size: 200px;
    font-family: 'Qwigley', cursive;
}
.line {
  height: 1px;
  background-color: #e9e9ed;
  padding: 1px;
}

.left-rotate {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(20deg);
}
nav{
    margin-top: 6em;
    padding-bottom: 2em;
    color:#c3a343;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
    url(foil-nav.jpg) repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
}
nav:after{
    content: "";
    display: block;
    clear: both;
}
nav ul{
    display: flex;
}
nav ul li{
    text-align: center;
    position: relative;
    border-bottom: 1px solid transparent;
    flex: 1;
}
nav ul li a{
    display: block;
    padding: 10px;
    cursor: pointer;
    font-size: 30px;
    border-bottom: 1px solid transparent;
}
nav ul li a:hover{
    border-bottom: 1px solid gold;
}

.line-img{
    width: 120%;
    height: 5px;
    margin-top: 2%;
    margin-left: -2%;
    transform: rotate(-8deg);
}
#header-images{
    overflow: hidden;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding-top: 8%;
    padding-bottom: 8%;
    font-family: 'Montserrat', sans-serif;
    background-image: url(images-bg.jpg);
    background-size: cover;
}
#header-images:after{
    content: "";
    display: block;
    clear: both;
}
.imgleft{
    margin-right: 5%;
    margin-left: 7%;
    background-image: url(modern.jpg);
}
.imgcenter{
    margin-right: 5%;
    background-image: url(ametyst..jpg);
}
.imgright{
    margin-right: 7%;
    background-image: url(making.jpg);
}
.header-image{
    float: left;
    width: 25%;
    height: 0;
    padding-bottom: 25%;
    box-shadow: 5px 5px 6px #888888;
    overflow: auto;
    background-size: cover;
    text-align: center;
    transition: all 0.3s ease 0s;
}
.header-image h1{
    font-size: 3vw;
    color: white;
}
.image-text{
    margin-top: 50%;
    top:-50%;
    height: auto;
    width: auto;
    display: none;
    border-bottom: solid 1px white;
    border-top: solid 1px white;
}
.header-image:hover{
    background-color:#b505c3;
    background-blend-mode:color-burn;
    
}
.header-image:hover>.image-text{
    display: block;
    text-transform: uppercase;
    transition: display 250ms;
}


.content-part{
    height: auto;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 8em;
    position: relative;
    background-image: url(Obraz1.png);
    background-repeat: no-repeat;
}
.content-part:after{
    content: "";
    display: block;
    clear: both;
}
.part-text{
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 24%;
    margin-right: 4%;
    z-index: 3;
    position: relative;
    float: right;
    width:70%;
    height: auto;
}
.part-text-left{
    text-align: right;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 29%;
    margin-left: 5%;
    position: relative;
    float: left;
    width:70%;
    z-index: 3;
}
.contleft{
    background-position: right;
}
.content-part p{
    font-size: 30px;
    text-align: justify;
}
.content-part h2{
    color: #b505c3;
    font-size: 100px;  
    margin-bottom: 0.5em;
    font-family: 'Qwigley', cursive;
    text-align: right;
}
.contleft{
    background-image: url(Obraz1%20-left.png);
}
footer{
    width: 100%;
    position: relative;
    height: 300px;
    background-image: url(Obraz3.png);
    background-size: cover;
    bottom: 0; 
    text-align: center;
}
.footer-text{
    color: white;
    text-shadow: 5px 5px 6px #888888;
    position: absolute;
  top: 50%;
  left: 50%;
 
  transform: translate(-50%, -50%);
}


@media (max-width: 700px){
    .line-img{
        height: 2px;
    }
    #title_gold{
        height: 150px;
    }
    nav{
        margin-top: 1em;
        padding-bottom: 2em;
    }
    nav ul{
        flex-direction: column;
        text-align: center;
    }
    header h1{
        font-size: 130px;
    }
    .image-text h1{
        font-size: 12px;
        color: white;}
        .header-image:hover>.image-text{
            display: none;
    }
    .content-part{
        margin-bottom: 1em;
    }
    .content-part h2{
        font-size: 70px;
    }
    .part-text-left,.part-text{
        width: 90%;
        margin-left: 7%;
        margin-right: 3%;
        margin-bottom: 0;
    }
    .content-part p{
        font-size: 20px;
    }
}